<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>
<form action="/transaction" method="post">
    SenderName: <p> <input type="text" name="senderName"></p>
    SenderPass: <p> <input type="password" name="senderPass"></p>
    Count: <p> <input type="number" name="count"></p>
    NameTo: <p> <input type="text" name="nameTo"></p>
    <p> <input type="submit" value="Send"></p>
</form>
</body>
</html>